@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;500;600;700;800&display=swap');

* {
    padding: 0;
    margin: 0;
}

/* Shared styles */
button {
    cursor: pointer;
    background-color: #FF5400;
    color: #FFF;
    padding: 10px;
    border-radius: 10px;
    border: none;
}

.button:hover {
    background-color: #f80b0b;
}

/* Header section start*/


header {
    font-family: 'Mulish', sans-serif;
    padding: 50px 80px;
}

/* banner section */
.banner {
    margin-top: 50px;
    background: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%), url("../Images/Group13\ \(1\)\ \(1\).png");
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 16px;
    padding: 90px 150px;
    text-align: center;
}

.bannerTitle {
    color: #FFF;
    font-size: 3rem;
    font-weight: 800;
}

.bannerDescription {
    margin-top: 15px;
    color: #FFF;
}

.inputFields {
    margin-top: 25px;
    padding: 15px 20px;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.30);
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.input {
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    border: none;
}

/* .btnPrimary {
    color: #FFF;
    padding: 10px;
    border-radius: 10px;
    border: none;
} */

/* header section end */




/* main section start */

main {
    font-family: 'Mulish', sans-serif;
    padding: 50px 80px;
}


/* popular section start*/

.popularTours {
    display: flex;
    justify-content: space-between;
    gap: 30px;
    /* align-items: center; */
}

.popularItems {
    flex: 1;
}

.popularImg {
    width: 97%;
}

.popularTitle {
    color: #131318;
    font-size: 2.2rem;
    font-weight: 800;
    margin-bottom: 20px;
}

.popularDes {
    color: rgba(19, 19, 24, 0.70);
}

.popularList {
    padding: 20px 0px 20px 30px;
}

.popularBtn {
    margin-top: 20px;
}

/* popular section end*/


/* choose destination section start*/
.destination {
    margin-top: 80px;
}

.destinationDescription {
    width: 65%;
    margin: auto;
    text-align: center;
}

.destinationTitle {
    color: #131318;
    font-size: 2.2rem;
    font-weight: 800;
}

.destinationDes {
    margin-top: 20px;
    margin-bottom: 20px;
    color: rgba(19, 19, 24, 0.70);
}

.destinationImages img {
    width: 100%;
    height: 100%;
}

.destinationImages div {
    border-radius: 16px;
    position: relative;
    background: linear-gradient(0deg, rgba(19, 19, 24, 0.20) 0%, rgba(19, 19, 24, 0.20) 100%);
    background-repeat: no-repeat;
    background-size: cover;
    border: none;
}

.destinationImgText {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-size: 1.6rem;
    font-weight: 800;
}

.destinationImage1 {
    grid-area: img1;
}

.destinationImage2 {
    grid-area: img2;
}

.destinationImage3 {
    grid-area: img3;
}

.destinationImage4 {
    grid-area: img4;
}

.destinationImage5 {
    grid-area: img5;
}

.destinationImage6 {
    grid-area: img6;
}

.destinationImage7 {
    grid-area: img7;
}

.destinationImages {
    display: grid;
    grid-template-areas:
        "img1 img1 img1 img1 img1 img2 img2 img2 img2 img2"
        "img3 img3 img3 img4 img4 img4 img4 img4 img5 img5"
        "img6 img6 img6 img6 img7 img7 img7 img7 img7 img7"
    ;
    gap: 10px;
}

/* choose destination section end*/


/* Why_Choose_Us section start*/
.chooseUs {
    margin-top: 80px;
}

.chooseDescription {
    width: 60%;
    margin: auto;
    text-align: center;
}

.chooseTitle {
    color: #131318;
    font-size: 2.2rem;
    font-weight: 800;
    margin-bottom: 20px;
}

.chooseDes {
    color: rgba(19, 19, 24, 0.70);
    margin-bottom: 40px;
}

.cbChild {
    padding: 20px;
}

.chooseBox1 {
    border-radius: 16px;
    border: 1px solid rgba(251, 181, 99, 0.20);
    background: rgba(251, 181, 99, 0.05);
    grid-area: box1;
}

.chooseBox2 {
    border-radius: 16px;
    border: 1px solid rgba(41, 206, 246, 0.20);
    background: rgba(41, 206, 246, 0.05);
    grid-area: box2;
}

.chooseBox3 {
    border-radius: 16px;
    border: 1px solid rgba(233, 68, 68, 0.20);
    background: rgba(233, 68, 68, 0.05);
    grid-area: box3;
    width: 50%;
    margin: auto;
}

.box_img {
    width: 13%;
}

.box_title {
    color: #131318;
    font-size: 1.3rem;
    font-weight: 800;
}

.box_description {
    color: #5A5A5D;
}

.boxContainer {
    display: grid;
    grid-template-areas:
        "box1 box1 box2 box2"
        "box3 box3 box3 box3"
    ;
    gap: 15px;
}
/* Why_Choose_Us section end*/


/* newsletter section start */

.newsletter {
    margin-top: 80px;
    display: flex;
    justify-content: space-between;
    gap: 20px;
}
.newsletterForm{
    border-radius: 16px;
    border: 1px solid #FF5400;
}
.newsletterContainer{
    padding: 30px;
}
.newsletterTitle{
    color: #131318;
    font-size: 1.4rem;
    font-weight: 800;
    margin-bottom: 18px;
}
.newsletterDescription{
    color: #5A5A5D;
    margin-bottom: 20px;
}
.newsletterContainer hr{
    width: 95%;
    opacity: 75%;
    margin-bottom: 20px;
}
.newsletterContainer input{
    border: none;
    padding: 13px;
    width: 90%;
    border-radius: 8px;
    background: rgba(19, 19, 24, 0.05);
    margin-bottom: 10px;
}
.newsletterContainer button{
    width: 97%;
}
.newsletterImg>img{
    width: 100%;
}
.newsletterImg{
    position: relative;
}
.discountSticker{
    color: #FFF;
    padding: 20px;
    text-align: center;
    position: absolute;
    border-radius: 16px;
    background: #FF5400;
    transform: rotate(-25deg);
    bottom: 11%;
    right: 1.5%;
}
/* newsletter section end */